* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.sponsorImg {
  width: auto;
  max-height: 150px;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.contain .box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contain .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.contain .box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
