.designtext h2{
    color: #fff;

    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff;
                 0 0 160px #fff;
}



.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px
}

.contain .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.contain .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;

}

.contain .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;

}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.hero {
    background-image: linear-gradient(to right bottom, #000000, #1a1a1a, #2d2c2c, #414040, #565555, #565555, #565555, #565555, #414040, #2d2c2c, #1a1a1a, #000000);
    height: 75vh;

}