.designtext h2{
    color: #fff;

    text-shadow: 0 0 10px #fff,
                 0 0 20px #fff,
                 0 0 40px #fff,
                 0 0 80px #fff,
                 0 0 120px #fff;
                 0 0 160px #fff;
}



.contain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px
}

.contain .box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.contain .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;

}

.contain .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;

}

.card-img-top {
        width: 100%;
    height: 15vw;
    object-fit: cover;
}

.hero {
    background-image: linear-gradient(to right bottom, #000000, #1a1a1a, #2d2c2c, #414040, #565555, #565555, #565555, #565555, #414040, #2d2c2c, #1a1a1a, #000000);
    height: 75vh;
}

.custom-bg{
    background-image: linear-gradient(45deg, #27374D, #526D82, #394867, #394867);
}

.timeline{
    position: relative;
    max-width: 1500px;
    margin: 100px auto;
}

.timecontainer{
    padding: 50px 70px;
    position: relative;
    width: 95%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0%{
        opacity: 1;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

.timecontainer:nth-child(1){
    animation-delay: 0s;
}

.timecontainer:nth-child(2){
    animation-delay: 1s;
}

.timecontainer:nth-child(3){
    animation-delay: 2s;
}

.timecontainer:nth-child(4){
    animation-delay: 3s;
}

.timecontainer:nth-child(5){
    animation-delay: 4s;
}

.timecontainer:nth-child(6){
    animation-delay: 3s;
}


.text-box{
    padding: 20px 20px;
    background: #9DB2BF;
    position: relative;
    border-radius: 6px;
    color: #27374D;
    font-size: 15px;
    box-shadow: 0 0 10px #9DB2BF,
                 0 0 20px #9DB2BF,
                 0 0 40px #9DB2BF,
                 0 0 80px #9DB2BF,
                 0 0 120px #9DB2BF;
                 0 0 160px #fff;
}

.left-timecontainer{

}

.right-timecontainer{
    left: 5%;
}

.timecontainer .img-time {
    position: absolute;
    width: 100px;
    border-radius: 50%;
    right: -40px;
    top: 60px;
    z-index: 10;
}

.right-timecontainer .img-time {
    left: -4em;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 100%;
    background: #fff;
    top: 0;
    left: 3%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 1s linear forwards;

}

@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #9DB2BF;
    right: -14px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 35px solid #9DB2BF;
    left: -25px;
}

@media screen and (max-width: 600px){
    .timeline{
        margin: 30px auto;
    }
    .right-timecontainer .img-time {
        left: 1px;
        width: 70px;
    }
    .timeline::after{
        left: 31px;
    }
    .timecontainer{
        width: 100%;
        padding-left: 80px;
        padding-right:25px:
    }
    .text-box{
        font-size: 13px
    }
    .text-box small{
        margin-bottem: 10px;
    }
    .right-timecontainer{
        left: 0;
    }
    .right-timecontainer h4{
        left: 10px;
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 20px solid #9DB2BF;
        border-left: 0;
        left: -20px;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
    }