<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    {% block styles %}
    <!-- Load Bootstrap-Flask CSS here -->
    {{ bootstrap.load_css() }}
    <!-- Link to the styles.css here to apply styling to all the child templates.-->

    {% endblock %}
    <link
      rel="icon"
      href="static/assets/images/favicon.ico"
      type="image/x-icon"
    />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <header
      class="d-flex flex-wrap justify-content-center py-3 mx-5 border-bottom"
    >
      <a
        href="/"
        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <img width="40" height="32" src="static/assets/images/logo.png" />
        <span class="fs-4 mx-3 text-dark">Nelson High School EV Team</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item">
          <a href="{{ url_for('home') }}" class="nav-link text-dark fs-5"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ url_for('design') }}" class="nav-link text-dark fs-5"
            >Design</a
          >
        </li>
        <li class="nav-item">
          <a href="{{ url_for('event') }}" class="nav-link text-dark fs-5"
            >Event</a
          >
        </li>
      </ul>
    </header>

    {% block content %}{% endblock %}

    <div class="col-md-4 d-flex align-items-center">
      <a
        href="/"
        class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1"
      >
        <svg class="bi" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary"
        >© 2024 Nelson High School EV Team</span
      >
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a class="text-body-secondary" href="#"
          ><svg class="bi" width="24" height="24">
            <use xlink:href="#twitter"></use></svg
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#"
          ><svg class="bi" width="24" height="24">
            <use xlink:href="#instagram"></use></svg
        ></a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#"
          ><svg class="bi" width="24" height="24">
            <use xlink:href="#facebook"></use></svg
        ></a>
      </li>
    </ul>

    {{ bootstrap.load_js() }}
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
  </body>
</html>
