{% extends 'base.html' %}
{% block title %}Design Page{% endblock %}

{% block content %}

<div class = "container-fluid ">
    <div class="container-fluid py-4">
    <div class = "container-fluid text-center">
      <div class="row">
        <div class="row align-items-md-stretch">
        <div class="col-md-6 py-3">
          <div class="h-100 p-5 rounded-3" style="background-color: #394867; color: #F1F6F9;">
            <h2>Our Current Plans</h2>
            <p>We are currently modifying our current car to be faster by making a new section for the backend of the car to reduce weight and improve efficiency. In addition, we are also designing a new model and reaching out to companies for sponsorships.  </p>
          </div>
        </div>
        <div class="col-md-6 py-3">
          <div class="h-100 p-5 rounded-3" style="background-color: #394867; color: #F1F6F9;">
            <h2>Future Plans </h2>
            <p>In the future, we will build a newer model, which will have an aluminum frame. This means that the newer model will be much lighter and hence much faster. In addition, the new model will have 4 shock absorbers instead of 2, with suspension in the back and front of the vehicle. Furthermore, it will have a regenerative brake system, allowing us to put energy back into the battery when we break.</p>
          </div>
        </div>
      </div>
      </div>
      <div class="row d-none d-lg-block">
        <img src = "static/assets/images/carpage3.png">
      </div>
      <div class="row">
        <div class="p-lg-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5 text-center">
          <h1 class="display-5 fw-bold">Overview</h1>
          <p class="fs-4">This is our second year participating in the Waterloo EV Challenge, we plan on modifying the car to be faster by reducing the weight. By next year's competition, we plan on having our aluminum vehicle done. Our current design includes three sections: the front, housing the steering and brake system, the body where the driver is located, and the rear, containing all the electric vehicle electronics, including the battery and controller. </p>
        </div>
      </div>
      </div>
    </div>
     <div class="container-fluid py-4">
       <div class="container-fluid px-4 py-22" id="featured-3">
        <h2 class="pb-2 border-bottom">The Front</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 d-flex p-2" >
          <div class="feature col">
            <img src="static/assets/images/steering.JPG" class = "img-fluid">
          </div>
          <div class="feature col my-auto text-center pt-lg-0 pt-5">
            <h2 >Break System</h2>
              <h5 >We used a hydraulic brake system, which features a master cylinder on the left side of the driver connected to 3 hydraulic brake calipers, two for the front wheels and one for the rear wheel, using brake flex hoses. When the driver steps on the break, it turns a rod that pushes on the pins of the master cylinder, which stops the car. </h5>
          </div>
          <div class="feature col container-fluid my-auto pt-lg-0 pt-5">
              <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Part Name</th>
                      <th scope="col">Count</th>
                      <th scope="col">Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Master Cylinder</td>
                      <td>1</td>
                      <td>$$</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Hydraulic Brake</td>
                      <td>3</td>
                      <td>$$</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Brake Flex Hose</td>
                      <td>1</td>
                      <td>$</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
         <div class="row g-4 py-5 row-cols-1 row-cols-lg-3 d-flex p-2" >
          <div class="feature col">
            <img src="static/assets/images/11b.JPG" class = "img-fluid">
          </div>
          <div class="feature col my-auto text-center pt-lg-0 pt-5">
            <h2 >Steering System</h2>
              <h5 >We implemented a rack-and-pinion steering system, connecting it to a rod via universal joints, linking to both the steering shaft and the steering wheel. When the wheel is turned, the shaft alters the wheel's direction in response to the input. </h5>
          </div>
          <div class="feature col container-fluid my-auto pt-3">
              <table class="table table-bordered pt-lg-0 pt-5">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Part Name</th>
                      <th scope="col">Count</th>
                      <th scope="col">Cost</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Universal Joint</td>
                      <td>1</td>
                      <td>$</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Steering wheel</td>
                      <td>1</td>
                      <td>$</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Rack and pinion steering system</td>
                      <td>1</td>
                      <td>$</td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>

    </div>
    </div>
    <div class="container-fluid">
     <div class="row">
        <div class="position-relative d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
            <div class="col-lg-5 me-md-3 pt-3 pt-md-5 px-md-5 text-center overflow-hidden" style="background-color: #394867; color: #F1F6F9;">
              <div class="my-3 py-3 px-3">
                <h2 class="display-5">Body</h2>
                <p class="fs-4 lead">The central section of our electric vehicle is where the driver is seated. This section has the harness, seat, and parking brake. In the competition, teams must rotate drivers every 15 minutes -- the change must be within 60 seconds-- and all vehicles have to be equipped with a five-point racing-style seat belt system.</p>
              </div>
            </div>
            <div class="col-lg-7 fluid-container bg-body-tertiary text-center overflow-hidden">
              <div>
                <img class = "img-fluid" src="static/assets/images/IMG_5374-removebg-preview (1).png">
              </div>
            </div>
        </div>
       <div class="fluid-container px-4">
      <div class="row row-cols-1 row-cols-lg-3 px-4 py-5" style="background-color: #394867; color: #F1F6F9;">
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2 text-body-emphasis">Seating and Harness</h3>
            <p>For our seat, we repurposed a broken chair by cutting it to fit in the electric vehicle and securing it to the vehicle using screws. For our harness, we use a five-point harness.
</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2 text-body-emphasis">Headrest</h3>
            <p>We manufactured our own headrest by gluing a sheet of foam to a wood board and wrapping it in a red cloth.</p>

          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div>
            <h3 class="fs-2 text-body-emphasis">The Emergency Brake</h3>
            <p>We got the emergency brake from a broken car and hooked it up to our break system. However, after the brake is not as effective as we would have hoped.</p>
          </div>
        </div>
      </div>
    </div>
    </div>

    </div>

  <div class = "container-fluid p-5 mx-auto">
    <div class = "row">
      <div class = "col-lg-3 container-fluid">
            <img clas = "img-fluid" src="static/assets/images/Screenshot 2023-10-13 231027.png">
      </div>
      <div class = "col-lg-3 my-auto">
        <div class = "row py-5 py-lg-0">
          <div class = "container-fluid">
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Shock Absorber</h3>
                  <p>This allows our wheel to be in constant contact with the road, which increases the traction and control. However, this added alot of unnecessary weight, which we plan on changing for our new model by using smaller and lighter shocks.
</p>
                </div>
          <div class = "container-fluid">
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">PM DC Motor</h3>
                  <p>Our motor works with both 12 volts and 24 volts. However, the chain connecting the motor to the wheel was not properly tensioned, resulting in the chain falling off during the competition. However, we were able to attach a chain tensioner to the chain guard, fixing the issue.</p>
                </div>

          <div class = "container-fluid">
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Battery</h3>
                  <p>The batteries that we used are YELLOWTOP® D34/78 - 120Amps, which is required for the compeition</p>
                </div>
        </div>
</div>
      <div class = "col-lg-6">
        <div class = "row pb-md-5">
          <div class = "col-lg-6">
              <img class = "img-fluid" src="static/assets/images/9b.JPG">
          </div>
          <div class = "col-lg-6 my-auto py-5 py-lg-0">
              <div class = "container-fluid">
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Wiring</h3>
                  <p>The wire that we used for most of the electrical connects is a 2 gauge wire, which we crimped ourselves.</p>
                </div>
            <div class = "container-fluid">
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Master Switch</h3>
                  <p>When we turn on the vehicle, we first have to turn on the master battery disconnect switch, and only then can the driver turn on the car.</p>
                </div>
              </div>
            </div>
        <div class = "row ">
          <div class = "col-lg-6">
              <img class = "img-fluid" src="static/assets/images/IMG_5145.JPG">
          </div>
          <div class = "col-lg-6 my-auto">
              <div class = "container-fluid py-5 py-lg-0">
                  <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">Controller</h3>
                  <p>For our controller, we were using the KDS – Mini Brushed DC Series/PM Motor Controller, which worked with both 12v and 24 volts. This controller does not support a regenerative brake system, which is why we are buying a new controller.</p>
              </div>
          </div>
        </div>
          </div>
        </div>
          </div>

        </div>
      </div>
  </div>
  </div>
</div>
{% endblock %}