{% extends 'base.html' %}
{% block title %}Event Page{% endblock %}

{% block content %}

<body class=" custom-bg">
    <div class = "timeline ">
        <div class = "timecontainer left-timecontainer">
            <img src = "static/assets/img/Dot-points-1.png">
            <div class = "text-box">
                <h2>
                    Our First Compeition
                </h2>
                <smal>
                    2022
                </smal>
                <p>
                    This was our first in particpating in the event, we have just build the car and havent tested it out.
                    We did quite well, but our chain was not properly tentioned, which lead it to come our during the rate
                </p>
                <span class = "left-container-arrow"></span>
            </div>
        </div>
        <div class = "timecontainer right-timecontainer">
            <img src = "static/assets/img/Dot-points-1.png">
            <div class = "text-box">
                <h2>
                    The mock Compeition
                </h2>
                <smal>
                    2022
                </smal>
                <p>
                    This was our first in particpating in the event, we have just build the car and havent tested it out.
                    We did quite well, but our chain was not properly tentioned, which lead it to come our during the rate
                </p>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
        <div class = "timecontainer left-timecontainer">
            <img src = "static/assets/img/Dot-points-1.png">
            <div class = "text-box">
                <h2>
                    Our First Year
                </h2>
                <smal>
                    2022
                </smal>
                <p>
                    This was our first in particpating in the event, we have just build the car and havent tested it out.
                    We did quite well, but our chain was not properly tentioned, which lead it to come our during the rate
                </p>
                <span class = "left-container-arrow"></span>
            </div>
        </div>
    </div>

</body>


{% endblock %}