{% extends 'base.html' %}
{% block title %}Event Page{% endblock %}

{% block content %}

<body class=" custom-bg">
    <div class = "timeline ">
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2022.png">
            <div class = "text-box">
                <h1 class = "display-md-1 display-5 text-center p-3" style="font-size: 6vw;">
                    Planning And Designing
                </h1>
                <div class = "container-fluid">
                    <div class = "contain text-center pb-5">
                        <div class = "box">
                              <div class = "dream">
                                <img src = "static/assets/images/1a.jpg">
                                <img src = "static/assets/images/8a.jpg">
                              </div>
                              <div class = "dream">
                                <img src = "static/assets/images/5a.JPG">
                                <img src = "static/assets/images/6a.JPG">
                              </div>
                              <div class = "dream">
                                <img src = "static/assets/images/2a.jpg">
                              </div>
                            </div>
                      </div>
                </div>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2022.png">
            <div class = "text-box">
                <h1 class = "display-md-1 display-5 text-center p-3" style="font-size: 6vw;">
                    Compeletion
                </h1>
                <div class = "container-fluid">
                    <div class = "contain text-center pb-5">
                        <div class = "box">
                              <div class = "dream">
                                <img src = "static/assets/images/1b.png">
                                <img src = "static/assets/images/4b.png">
                                  <img src = "static/assets/images/11b.JPG">
                              </div>
                            <div class = "dream">
                                <img src = "static/assets/images/3b.png">
                                <img src = "static/assets/images/5b.jpg">
                                <img src = "static/assets/images/10b.jpg">
                              </div>
                              <div class = "dream">
                                <img src = "static/assets/images/6b.JPG">
                                  <img src = "static/assets/images/9b.JPG">
                                  <img src = "static/assets/images/12b.JPG">

                              </div>
                            </div>
                      </div>
                </div>
                <span class = "right-container-arrow"></span>
            </div>
            </div>
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2023.png">
            <div class = "text-box">
                <h1 class = "display-md-1 display-5 text-center p-3" style="font-size: 6vw;">
                    Our Fist Compeition
                </h1>
                <div class = "container-fluid">
                    <div class = "contain text-center pb-5">
                                        <div class = "container-fluid">
                    <div class = "contain text-center pb-5">
                            <div class = "container-fluid">
                                <img src = "static/assets/images/2.jpg" class="img-fluid">
                            </div>

                          </div>
                        </div>
                      </div>

                          </div>
                <span class = "right-container-arrow"></span>
                        </div>
            </div>
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2024.png">
            <div class = "text-box">
                <h1 class = "display-md-1 display-5 text-center p-3" style="font-size: 6vw;">
                    The Mock Compeition
                </h1>
                <div class = "container-fluid">
                    <div class = "contain text-center pb-5">
                        <div class = "contain text-center pb-5">
            <div class = "box">
              <div class = "dream">
                <img src = "static/assets/images/12c.JPG">
                <img src = "static/assets/images/6c.JPG">
              </div>
              <div class = "dream">
                <img src = "static/assets/images/4c.JPG">
                <img src = "static/assets/images/2c.JPG">
                  <img src = "static/assets/images/10c.JPG">

              </div>
              <div class = "dream">
                <img src = "static/assets/images/3c.JPG">
                <img src = "static/assets/images/7c.JPG">
              </div>
            </div>

                </div>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
    </div>
    </div>
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2023.png">
            <div class = "text-box">
                <h1 class = "display-md-1 display-5 text-center p-3" style="font-size: 6vw;">
                    Future Plans
                </h1>
                <div class = "container-fluid">
                    <div class = "contain text-center pb-5">
                        <div class = "box">
                          <div class = "dream">
                            <img src = "static/assets/images/1d (2).JPG">
                          </div>
                            <div class = "dream">
                                <img src = "static/assets/images/1d (3).JPG">
                            </div>
                          <div class = "dream">
                            <img src = "static/assets/images/1d (5).JPG">

                          </div>
                        </div>
                      </div>
                </div>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
    </div>

</body>


{% endblock %}