{% extends 'base.html' %}
{% block title %}Event Page{% endblock %}

{% block content %}

<body class=" custom-bg">
    <div class = "timeline ">
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2022.png">
            <div class = "text-box">
                <h1 class = "display-md-1 display-5 text-center p-3" style="font-size: 6vw;">
                    Planning And Designing
                </h1>
                <h2 class = "text-center h3 p-2">
                    It was the begining of a new adventure, we had to start from scrach designing everything and building it from the ground up.
                </h2>
                <div class = "container-fluid">
                    <div class = "contain text-center pb-5">
                        <div class = "box">
                          <div class = "dream">
                            <img src = "static/assets/images/9.jpg">
                            <img src = "static/assets/images/2.jpg">
                            <img src = "static/assets/images/3.jpg">
                          </div>
                            <div class = "dream">
                            <img src = "static/assets/images/4.JPG">
                            <img src = "static/assets/images/1.JPG">
                            <img src = "static/assets/images/6.JPG">
                          </div>
                          <div class = "dream">
                            <img src = "static/assets/images/4.JPG">
                            <img src = "static/assets/images/1.JPG">
                            <img src = "static/assets/images/6.JPG">

                          </div>
                        </div>
                      </div>
                </div>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2023.png">
            <div class = "text-box">
                <h2>
                    Our First Compeition
                </h2>

                <p>
                    This was our first in particpating in the event, we have just build the car and havent tested it out.
                    We did quite well, but our chain was not properly tentioned, which lead it to come our during the rate
                </p>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
        <div class = "timecontainer right-timecontainer">
            <img class = "img-time" src = "static/assets/images/2023.png">
            <div class = "text-box">
                <h2>
                    The Pratice Compeition
                </h2>
                <smal>
                    Sep 2023
                </smal>
                <p>
                    This was our first in particpating in the event, we have just build the car and havent tested it out.
                    We did quite well, but our chain was not properly tentioned, which lead it to come our during the rate
                </p>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
        <div class = "timecontainer right-timecontainer pt-5">
            <img class = "img-time" src = "static/assets/images/2024.png">
            <div class = "text-box">
                <h2>
                    Our Next Steps
                </h2>
                <smal>
                    Present
                </smal>
                <p>
                    This was our first in particpating in the event, we have just build the car and havent tested it out.
                    We did quite well, but our chain was not properly tentioned, which lead it to come our during the rate
                </p>
                <span class = "right-container-arrow"></span>
            </div>
        </div>
    </div>

</body>


{% endblock %}